.feature { margin-bottom:10px; }
.feature-header { border-bottom: 2px solid #ccc }
.feature-title{ padding:0; margin:0; font-size:1.5em; font-weight:bold; color:#303030; }

.sidebar, .content-main, .block-feature { background:white; padding:15px;}

.logo { text-align: center;  float:left; }
.logo h1, .logo h2 { padding:0; margin:0; color:#fff; font-size:1em; font-family: Arial, Helvetica, sans-serif; }
.logo h1 { font-size:5em; font-weight: bold; }
.logo a { color:#fff; }

.footer-top { background:#282828; color:white;  padding:10px;}
.footer-top ul { margin:0; }
.footer-top a { color:white; font-size:0.8em; } 
.footer-top .logo { font-size:12px;}
.footer-top h6 { margin:0; padding:0; font-size:1em; font-weight: bold;}

.footer-bottom { background:rgba(37,141,200,1); text-align: center; color:white; font-size:0.8em; padding:10px 0; }
.footer-bottom a { color:white;  }


.location p { font-size:0.8em; }