.carousel { position:relative; }
.carousel .carousel-block { width:726px; height:217px; float:left; position:relative;}
.carousel .carousel-text { display:block; position:Absolute; bottom:0; left:0; width:100%; z-index:2; background:black; color:white; opacity:0.7; padding:10px; }