<article class="content clearfix">
    <h1 class="content-title">O melhor para seu negócio</h1>
    <img class="content-feature" src="https://www.worcester.ac.uk/content_images/web-development-university-worcester-course-page-header.jpg" />
    <div class="content-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna mauris, 
            aliquet vel sem id, molestie venenatis quam. Quisque pellentesque velit non arcu 
            pretium, nec lobortis magna blandit. In vulputate odio eget ligula bibendum interdum. 
            Sed placerat quis sem eget malesuada. Pellentesque fermentum erat vel tempor feugiat. 
        </p>
    </div>
    
</article>

<article class="content clearfix">
    <h1 class="content-title">O melhor para seu negócio</h1>
    <img class="content-feature" src="https://www.worcester.ac.uk/content_images/web-development-university-worcester-course-page-header.jpg" />
    <div class="content-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna mauris, 
            aliquet vel sem id, molestie venenatis quam. Quisque pellentesque velit non arcu 
            pretium, nec lobortis magna blandit. In vulputate odio eget ligula bibendum interdum. 
            Sed placerat quis sem eget malesuada. Pellentesque fermentum erat vel tempor feugiat. 
        </p>
    </div>
    
</article>
