<div *ngIf="_posts">
    <article *ngFor="let post of _posts" class="content clearfix">
        <h1 class="content-title"><a routerLink="/article/{{post.id}}">{{post.title}}</a></h1>
        <img class="content-feature layout-md-6" [src]="post.imageUrl" />
        <div class="content-body layout-md-6">
            <p>
                {{post.subtitle}}
            </p>
            <div>
                <a routerLink="/manage/{{post.id}}">Editar</a> | 
                <button href="#" (click)="deletePost(post.id)">Deletar</button>
            </div>
        </div>
        
    </article>
</div>


