<section class="layout-row">
    <section class="layout-md-12 card-one content-main">
        <article>
            <header>
                <h1>Contato</h1>
            </header>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in aliquet velit.
                    Aliquam lacinia sed erat a ultrices. Mauris congue, ligula ac mattis rhoncus, dui nunc dictum purus
                    et pharetra velit nisi a ex. Donec vitae ante nec nisi auctor fringilla. Cras purus orci, scelerisque 
                    sed bibendum aliquam, blandit ac justo. Proin ac scelerisque metus.
                </p>
                <form class="form">
                    <input type="text" placeholder="Nome completo">
                    <input type="text" placeholder="E-mail">

                    <textarea placeholder="Digite sua mensagem"></textarea>
                    <button class="btn">Enviar</button>
                </form>
            </div>
            <footer></footer>
        </article>
        
    </section>
</section>