<footer class="main-footer layout-row">
    <div class="footer-top clearfix layout-xs-12">
        <div class="logo layout-xs-3">
            <h1><a href="#">HR</a></h1>
            <h2>Pesquisa e Desenvolvimento</h2>
        </div>
        <div class="location layout-xs-4 layout-xs-offset-2">
            <h6>Localização</h6>
            <p>
                Fortaleza - Ceará<br/>
                Rua General Mário Hermes, n 132 - sala 511<br/>
                HR Pesquisa e Desenvolvimento<br/>
                CEP: 60336230
            </p>
        </div>
        <div class="rapid-link layout-xs-3">
            <h6>Links rápidos</h6>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footer-bottom layout-xs-12">
        <span><strong>Copyright © - Todos os direitos reservados</strong><br/>Desenvolvido por <a href="mailto:mr.syslogg@gmail.com">Hendy Rodrigues F. Silva</a></span>
    </div>
</footer>