<nav class = "menu menu-horizontal menu-app menu-color layout-xs-12 layout-xs-12-2">
    <div class="layout-fluid clearfix">
        <div class="layout-row">
            <ul class="layout-xs-12">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/article">Todos os artigos</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a routerLink="/manage">Gerenciar</a></li>
                <li><a routerLink="/contato">Contato</a></li>
            </ul>
        </div>
    </div>
    
</nav>