/* You can add global styles to this file, and also import other style files */
body { background:rgb(240, 240, 240); }
.layout-row {margin:0 !important}

.form textarea { height: 100px; }

/* TODO: FRAMEWORK */
.layout-full {
    margin:0 !important;
    width:100% !important;
}

.layout-full .layout-xs-12-2 { width:100% !important; margin:0 !important; }
